.bio {
    height: 800px;
    position: relative;
    overflow: hidden;
    
}

.bioText {
    margin-left: 150px;
    margin-top: -900px;
    position: absolute;
}


#about {
    display: about;
    height: 800px;
}


#projects {
    display: projects;
    height: 800px;
}

.name {
    overflow: hidden; /* content not revealed until the animation*/
    font-family: 'Arimo', sans-serif;
    white-space: nowrap; /* stay on one line */
    animation: typing 5s steps(400);
    font-size: 75px;
    color: #627ba3;
    font-weight: 100px;

}

.pronouns {
    font-family: 'EB Garamond', serif;
    font-size: 40px;
   

}

.school, .job {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.line {
    border-top: .15em solid #e0d8d5;
    width: 500px;
    border-width: 5px; 
    margin-top: 50px; 
}

.socials {
    display: grid;
    grid-template-columns: 20px 20px 40px;
    grid-column-gap: 10px;
    grid-template-areas:
    "icon icon email";
    margin-top: 20px;
}

.icon {
    display: icon;
    font-size: 20px;
    margin-top: 20px;
    color:black;
}

.email {
    display: email;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 18px;
    text-decoration: underline;
    color: black;
    font-weight: 900;
}

#github:hover {
    color: #24292e;
    cursor: pointer;
}

#linkedin:hover {
    color: #0077b5;
    cursor: pointer;
}


.profile {
    margin-left: 650px;
    margin-top: -350px;
    opacity: 0.7;
}

.links {
    display: grid;
    grid-template-columns: 20px 20px;
    grid-column-gap: 100px;
    grid-template-areas:
    "about projects";
    margin-top: 30px;
}

#aboutLink, #projectLink {
    height: 20px;
    width: 100px;
    white-space: nowrap; /* stay on one line */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-image: url(yellow-brushstroke.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    

    
}