.bio {
    height: 800px;
    position: relative;
    overflow: hidden;
    
}

.bioText {
    margin-left: 150px;
    margin-top: -900px;
    position: absolute;
}


#about {
    margin-top: 0px;
    background-color: #f5f0f1;
    height: 800px;
    position: relative;
    overflow: hidden;

}


#projects {
    overflow: hidden;
    height: 1200px;
    background-color: #fffde8;
}

.name {
    overflow: hidden; /* content not revealed until the animation*/
    font-family: 'Arimo', sans-serif;
    white-space: nowrap; /* stay on one line */
    animation: typing 5s steps(400);
    font-size: 75px;
    color: #627ba3;
    font-weight: 100px;
    font-style: italic;

}

.pronouns {
    font-family: 'EB Garamond', serif;
    font-size: 40px;
   

}

.school, .job {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.line {
    border-top: .10em solid #627ba3;
    width: 500px;
    border-width: 2px; 
    margin-top: 50px; 
}

.socials {
    display: grid;
    grid-template-columns: 20px 20px 40px;
    grid-column-gap: 10px;
    grid-template-areas:
    "icon icon email";
    margin-top: 20px;
}

.icon {
    display: icon;
    font-size: 20px;
    margin-top: 20px;
    color:black;
}

.email {
    display: email;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 18px;
    text-decoration: underline;
    color: black;
    font-weight: 900;
}

#github:hover {
    color: #24292e;
    cursor: pointer;
}

#linkedin:hover {
    color: #0077b5;
    cursor: pointer;
}


.profile {
    margin-left: 650px;
    margin-top: -350px;
    opacity: 0.7;
}

.links {
    display: grid;
    grid-template-columns: 20px 20px;
    grid-column-gap: 100px;
    grid-template-areas:
    "about projects";
    margin-top: 30px;
}

#aboutLink, #projectLink {
    height: 20px;
    width: 100px;
    white-space: nowrap; /* stay on one line */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-image: url(yellow-brushstroke.png);
    background-size: 100% 100%;
}

.heading {
    font-family: 'Roboto', sans-serif;
    margin-left: 600px;
    margin-top: 100px;
    position: absolute;
    background-image: url(yellow-brushstroke.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

#p1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 200;
    position: absolute;
    margin-top: 200px;
    width: 600px;
    margin-left: 375px;
    font-size: 20px;
}

#p2 {
    font-weight: 200;
    position: absolute;
    margin-top: 450px;
    width: 600px;
    margin-left: 375px;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}

mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: #b0c4ad;
    
}

.plant1 {
    position: absolute;
}

.bike {
    position: absolute;
    margin-left: 1050px;
    margin-top: 500px;
}

.timeline {
    display: grid;
    grid-template-columns: 50px 20px 50px;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
    "date1 line text1"
    "text2 line date2";


    
}

.verticalLine {
    display: line;
    border-left: 6px solid #e0e0e0;
    margin-left: 600px;
    margin-top: 200px;
    height: 800px;
}

#dollar {
    font-size: 50px;
    margin-left: -25px;
    margin-top: 20px;
    color: #7a8769;
}

.date1 {
    display: date1;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-left: 455px;
    margin-top: 220px;
    font-size: 30px;
    color: #77778c;
}

.text1{
    display: text1;
    margin-left: 625px;
    margin-top: 220px;
    width: 600px;
    height: 300px;
}

#game {
    font-size: 50px;
    margin-left: -35px;
    margin-top: 300px;
    color: #a1063a;
}

.date2 {
    display: date2;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-left: 725px;
    margin-top: 525px;
    font-size: 30px;
    color: #77778c;

}

.text2{
    display: text1;
    margin-left: -50px;
    margin-top: 530px;
    width: 600px;
    height: 300px;
}

.projectTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    font-size: 30px;
    color: black;

}

.projectImage{
    margin-top: 10px;
    max-width:100%;
    max-height:100%;
}
